<!-- Header -->
 
 <ion-header translucent>
    <ion-toolbar>

      <!-- Left button/icon on header -->
    <ion-buttons slot="start">
        <ion-button>
          <ion-icon slot="icon-only" color = "primary" name="star-half"></ion-icon>
        </ion-button>
      </ion-buttons>

      <!-- right button/icon on header -->
        <ion-title color = "primary" text-center>Home</ion-title>
      <ion-buttons slot="secondary">
        <ion-button>
          <ion-icon slot="icon-only" color = "primary" name="bicycle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

    

      
  </ion-header>

<!---- create card for trails  -->

<ion-content class="card-background-page">
<ion-card>
      <img src="https://assets.simpleviewinc.com/simpleview/image/fetch/c_fill,h_357,q_75,w_537/https://assets.simpleviewinc.com/simpleview/image/upload/crm/austin/Barton-Creek-Green-belt_Austin-Parks-and-Recreation-Department-5--6c2cc4dfa6c4701_6c2cc7c8-c93e-66f1-7dcada42018bbc7c.jpg">
      <div class="card-title">Barton Creek</div>
      <div class="card-subtitle">Austin,TX</div>
      <ion-fab vertical="top" horizontal="end" slot="fixed">
          <ion-fab-button (click)="presentModal()">
            <ion-icon name="pin"></ion-icon>
          </ion-fab-button>
        </ion-fab>
  </ion-card>

  <ion-card>
      <img src="https://assets.simpleviewinc.com/simpleview/image/fetch/c_fill,h_357,q_75,w_537/https://assets.simpleviewinc.com/simpleview/image/upload/crm/austin/Barton-Creek-Green-belt_Austin-Parks-and-Recreation-Department-5--6c2cc4dfa6c4701_6c2cc7c8-c93e-66f1-7dcada42018bbc7c.jpg">
      <div class="card-title">Barton Creek</div>
      <div class="card-subtitle">Austin,TX</div>
      <ion-fab vertical="top" horizontal="end" slot="fixed">
          <ion-fab-button>
            <ion-icon name="pin"></ion-icon>
          </ion-fab-button>
        </ion-fab>
  </ion-card>

  <ion-card>
      <img src="https://assets.simpleviewinc.com/simpleview/image/fetch/c_fill,h_357,q_75,w_537/https://assets.simpleviewinc.com/simpleview/image/upload/crm/austin/Barton-Creek-Green-belt_Austin-Parks-and-Recreation-Department-5--6c2cc4dfa6c4701_6c2cc7c8-c93e-66f1-7dcada42018bbc7c.jpg">
      <div class="card-title">Barton Creek</div>
      <div class="card-subtitle">Austin,TX</div>
      <ion-fab vertical="top" horizontal="end" slot="fixed">
          <ion-fab-button>
            <ion-icon name="pin"></ion-icon>
          </ion-fab-button>
        </ion-fab>
  </ion-card>

  <ion-card>
      <img src="https://assets.simpleviewinc.com/simpleview/image/fetch/c_fill,h_357,q_75,w_537/https://assets.simpleviewinc.com/simpleview/image/upload/crm/austin/Barton-Creek-Green-belt_Austin-Parks-and-Recreation-Department-5--6c2cc4dfa6c4701_6c2cc7c8-c93e-66f1-7dcada42018bbc7c.jpg">
      <div class="card-title">Barton Creek</div>
      <div class="card-subtitle">Austin,TX</div>
      <ion-fab vertical="top" horizontal="end" slot="fixed">
          <ion-fab-button>
            <ion-icon name="pin"></ion-icon>
          </ion-fab-button>
        </ion-fab>
  </ion-card>
</ion-content>


