<ion-header>
    <ion-toolbar color="primary" >
        
         <ion-img class="modalimg" src="../assets/TXSTimg.jpg" padding-right ></ion-img>
        
            <ion-icon name="arrow-back" slot="start" size="large" routerLink="" routerDirection="root">Back</ion-icon>
         
      
      
    </ion-toolbar>
   
  </ion-header>

<ion-content padding-top padding-bottom>
    <ion-card color="primary" padding>
        <ion-card-header>
            <ion-card-subtitle>Trail: </ion-card-subtitle> 
          <ion-card-title>Tex's Trail</ion-card-title>
          </ion-card-header>
          <ion-card-content>
             <ion-item> <b padding>Address: </b> Kramer Rd, San Marcos, TX 78666</ion-item>
             <ion-item> <b padding>Trail Length: </b> 0.6 mi</ion-item>
             <ion-item> <b padding>Estimated Hike Time: </b> 0.2 hours</ion-item>
			 <ion-item> <b padding>Elevation: </b> 9 ft</ion-item>
             <ion-item> <b padding>Route-Type: </b> Loop</ion-item>
             <ion-item> <b padding>Pets Allowed: </b> No</ion-item>
			 <ion-item> <b padding>Biking Allowed: </b> No</ion-item>
             <ion-item> <b padding>Camping Allowed: </b> No</ion-item>
             <ion-item> <b padding>Fires Allowed: </b> No</ion-item>
			 <ion-item> <b padding>Wheelchair Accessible: </b> Yes</ion-item>
            </ion-card-content>
            <ion-button>Add to My Trail List</ion-button>
    </ion-card>
</ion-content>
