<ion-header>
    <ion-toolbar color="primary" >

         <ion-img class="modalimg" src="../assets/TXSTimg.jpg" padding-right ></ion-img>

            <ion-icon name="arrow-back" slot="start" size="large" routerLink="" routerDirection="root">Back</ion-icon>



    </ion-toolbar>

  </ion-header>

<ion-content padding-top padding-bottom>
    <ion-card color="primary" padding>
        <ion-card-header>
            <ion-card-subtitle>Trail: </ion-card-subtitle>
          <ion-card-title>Turkey Creek Trail</ion-card-title>
          </ion-card-header>
          <ion-card-content>
             <ion-item> <b padding>Address:</b> 1401-1711 City Park Rd, Austin, TX 78730</ion-item>
             <ion-item> <b padding>Trail Length: </b> 2.8 mi</ion-item>
             <ion-item> <b padding>Elevation: </b> 170 ft</ion-item>
             <ion-item> <b padding>Route-Type: </b> Out & Back</ion-item>
             <ion-item> <b padding>Kid-Friendly: </b> Yes</ion-item>
             <ion-item> <b padding>Dog-friendly: </b> Yes</ion-item>
             <ion-item> <b padding>Camping Allowed:</b> No</ion-item>
             <ion-item> <b padding>Fires Allowed:</b> No</ion-item>
            </ion-card-content>
            <ion-button>Add to My Trail List</ion-button>
    </ion-card>
</ion-content>
