<ion-header>
    <ion-toolbar color="primary" >
        
         <ion-img class="modalimg" src="../assets/TXSTimg.jpg" padding-right ></ion-img>
        
            <ion-icon name="arrow-back" slot="start" size="large" routerLink="" routerDirection="root" >Back</ion-icon>
         
      
      
    </ion-toolbar>
   
  </ion-header>

<ion-content padding-top>
<ion-card color="primary" padding-top>
    <ion-card-header>
        <ion-card-subtitle>Trail: </ion-card-subtitle> 
      <ion-card-title>Barton Creek Trail</ion-card-title>
      </ion-card-header>
      <ion-card-content>
         <ion-item> <b>Address:</b> 3755 S Capital of Texas Hwy B, Austin, TX 78704</ion-item>
         <ion-item> <b>Trail Length:</b> </ion-item>
         <ion-item> <b>Estimated Hike Time:</b> </ion-item>
         <ion-item> <b>Pets Allowed:</b> </ion-item>
         <ion-item> <b>Camping Allowed:</b> </ion-item>
         <ion-item> <b>Fires Allowed:</b> </ion-item>
        </ion-card-content>
        <ion-button expand="full" color="secondary" (click)="alert()">Add to My Trail List</ion-button>
        
</ion-card>

<ion-card padding color="primary">{{Value}}</ion-card>
<ion-card color="primary">
<ion-slides scrollbar="true">
  <ion-slide style="width:100%;height: 2.0in;">
      <img class="slideimg" src="../assets/Barton1.jpg" style="width:100%;height:auto;" >
  </ion-slide>
  <ion-slide style="width:100%;height: 2.0in;">
      <img class="slideimg" src="../assets/Barton2.jpg" style="width:100%;height:auto;" >
  </ion-slide>
  <ion-slide style="width:100%;height: 2.0in;">
    <img class="slideimg" src="..\assets\BartonCreekGreenbelt\BartonC.jpg" style="width:100%;height:auto;" >
    
  </ion-slide>
  <ion-slide style="width:100%;height: 2.0in;">
    <img class="slideimg" src="..\assets\BartonCreekGreenbelt\bartonC1.jpg" style="width:100%;height:auto;" >

  </ion-slide>
  <ion-slide style="width:100%;height: 2.0in;">
    <img class="slideimg" src="..\assets\BartonCreekGreenbelt\BartonC2.jpg" style="width:100%;height:auto;" >

  </ion-slide>
  <ion-slide style="width:100%;height: 2.0in;">
    <img class="slideimg" src="..\assets\BartonCreekGreenbelt\BartonC3.jpg" style="width:100%;height:auto;" >

  </ion-slide>
  <ion-slide style="width:100%;height: 2.0in;">
    <img class="slideimg" src="..\assets\BartonCreekGreenbelt\BartonC4.jpg" style="width:100%;height:auto;" >

  </ion-slide>
  
</ion-slides>
</ion-card>
</ion-content>
