<ion-header>
    <ion-toolbar color="primary">
      <ion-title>
         <ion-img src="..\assets\icon\TXSTimg.jpg" ></ion-img>
          <p> </p>
      </ion-title>
      
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-card>
  <div class="ion-padding">
    <span><img src={{icon}}/><span style="position: relative; bottom: 15px;">Temperature: {{temperature}}</span><p></p><span style="position: relative; bottom: 15px;">Place: {{place}}</span><p></p><span style="position: relative; bottom: 15px;">Conditions: {{type}}</span></span>
  </div>
</ion-card>
</ion-content>
