<ion-header padding>
    <ion-toolbar color="primary" padding >
      <ion-title>
         <ion-img src="..\assets\icon\TXSTimg.jpg" ></ion-img>
          <p> </p>
      </ion-title>
      
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-card>
  <div class="ion-padding">
    <span><img src={{icon}}/><span style="position: relative; bottom: 15px;">Temperature: {{temperature}}</span><p>

    </p><span style="position: relative; bottom: 15px;">Place: {{place}}</span><p>

    </p><span style="position: relative; bottom: 15px;">Conditions: {{type}}</span><p>

    </p><span style="position: relative; bottom: 15px;">Humidity: {{humidity}}</span><p>
      
    </p><span style="position: relative; bottom: 15px;" class="HikingSugg">Suggested Attire for your Hike: <p></p> {{SuggestedOutfit}}</span></span>
  </div>
</ion-card>
</ion-content>
